@model GiellyGreen.Models.CombinePdfViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice</title>
    <link href="http://fonts.cdnfonts.com/css/dax" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/PdfStyle.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @foreach (var item in Model.InvoiceDetails)
    {
        if (item.Logo != null)
        {
            String path = HttpContext.Current.Server.MapPath("~/ImageStorage");
            item.Logo = Path.Combine(path, item.Logo);
        }
        <div class="container pageFinish">
            <table width="100%">
                <tr>
                    <td>
                        @if (item.Logo != null && item.Logo != "")
                        {
                            <img src="@item.Logo" width="200" height="100" />
                        }
                        else
                        {
                            <h3 class="padding-top">@item.SupplierName</h3>

                        }
                    </td>
                    <td class="font-size text-right">Self-Billed Invoice</td>
                </tr>
                <tr>
                    <td class=" text-left" style="vertical-align:top">
                        @if (@item.Logo != null)
                        {
                            <h4>@item.SupplierName</h4>
                            <h4>@item.BusinessAddress</h4>
                        }
                        else
                        {
                            <div class="customwordbreak">@item.BusinessAddress</div>
                        }
                    </td>
                    <td class=" text-right ">
                        <h4 class="font-weight-normal"> Invoice Date :  @Convert.ToDateTime(item.InvoiceDate).ToString("dd-MM-yyyy")</h4>
                        <h4 class="font-weight-normal">Invoice Referance :@item.SupplierReferenceNumber-@item.InvoiceRef</h4>
                        <br />
                        @if (item.TAXReference != null)
                        {
                            <h4 class="font-weight-normal"> TAX Referance : @item.TAXReference</h4>
                        }
                        @if (item.VATNumber != null)
                        {
                            <h4 class="font-weight-normal"> TAX VATNumber : @item.VATNumber</h4>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="">
                        <h4 class="font-weight-bold">To : @Model.CompanyProfile.CompanyName</h4>
                        <h4 class="font-weight-normal">@Model.CompanyProfile.AddressLine</h4>
                        <h4 class="font-weight-normal">@Model.CompanyProfile.City - @Model.CompanyProfile.ZipCode</h4>
                        <h4 class="font-weight-normal">@Model.CompanyProfile.Country</h4>
                    </td>
                </tr>
            </table>
            <br />
            <div class="row" style="margin-bottom:3px;">
                <div class="col-md-12 table-height">
                    <table class="table-bord" style="width:100%">
                        <thead>
                            <tr class="borderCell tr-padding">
                                <th class="borderCell text-center" colspan="3" style="text-align:center">Description</th>
                                <th class="borderCell text-right cell-border-left padding-right">Amount(GBP)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="borderCell">
                                <td colspan="2" class="widthcol borderCell padding-left">Hair Services</td>
                                <td class="borderCell"></td>
                                <td class="borderCell text-right padding-right">@Convert.ToDecimal(item.HairServices).ToString("N2")</td>
                            </tr>
                            <tr class="borderCell">
                                <td class="borderCell padding-left" colspan="2">Beauty Services</td>
                                <td class="borderCell"></td>
                                <td class="borderCell text-right padding-right">@Convert.ToDecimal(item.BeautyServices).ToString("N2")</td>
                            </tr>
                            @if (item.CustomService1 > 0)
                            {
                                <tr class="borderCell">
                                    <td class="borderCell padding-left" colspan="2">
                                        @if (@item.CustomHeader1 != null)
                                        {
                                            @item.CustomHeader1
                                        }
                                        else
                                        {
                                            <span>Custom 1</span>
                                        }

                                    </td>
                                    <td class="borderCell"></td>
                                    <td class="borderCell text-right padding-right">@Convert.ToDecimal(item.CustomService1).ToString("N2")</td>
                                </tr>
                            }
                            @if (item.CustomService2 > 0)
                            {
                                <tr class="borderCell">
                                    <td class="borderCell padding-left" colspan="2">
                                        @if (@item.CustomHeader2 != null)
                                        {
                                            @item.CustomHeader2
                                        }
                                        else
                                        {
                                            <span>Custom 2</span>
                                        }
                                    </td>
                                    <td class="borderCell"></td>
                                    <td class="borderCell text-right padding-right">@Convert.ToDecimal(item.CustomService2).ToString("N2")</td>
                                </tr>
                            }
                            @if (item.CustomService3 > 0)
                            {
                                <tr class="borderCell">
                                    <td class="borderCell padding-left" colspan="2">
                                        @if (@item.CustomHeader3 != null)
                                        {
                                            @item.CustomHeader3
                                        }
                                        else
                                        {
                                            <span>Custom 3</span>
                                        }
                                    </td>
                                    <td class="borderCell"></td>
                                    <td class="borderCell text-right padding-right">@Convert.ToDecimal(item.CustomService3).ToString("N2")</td>
                                </tr>
                            }
                            @if (item.CustomService4 > 0)
                            {
                                <tr class="borderCell ">
                                    <td class="borderCell padding-left" colspan="2">
                                        @if (@item.CustomHeader4 != null)
                                        {
                                            @item.CustomHeader4
                                        }
                                        else
                                        {
                                            <span>Custom 4</span>
                                        }
                                    </td>
                                    <td class="borderCell"></td>
                                    <td class="borderCell text-right padding-right">@Convert.ToDecimal(item.CustomService4).ToString("N2")</td>
                                </tr>
                            }
                            @if (item.CustomService5 > 0)
                            {
                                <tr class="borderCell ">
                                    <td class="borderCell padding-left" colspan="2">
                                        @if (@item.CustomHeader5 != null)
                                        {
                                            @item.CustomHeader5
                                        }
                                        else
                                        {
                                            <span>Custom 5</span>
                                        }
                                    </td>
                                    <td class="borderCell"></td>
                                    <td class="borderCell text-right padding-right">@Convert.ToDecimal(item.CustomService5).ToString("N2")</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="2" style="border:0px"></td>
                                <td class="text-right padding-right font-weight-bold">Subtotal(Net)</td>
                                <td class="borderCell text-right padding-right">@Convert.ToDecimal(item.Net).ToString("N2")</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="text-right padding-right font-weight-bold">VAT</td>
                                <td class="borderCell text-right padding-right">@Convert.ToDecimal(item.VAT).ToString("N2")</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="text-right padding-right font-weight-bold">Advance Paid</td>
                                <td class="borderCell text-right padding-right">(@Convert.ToDecimal(item.AdvancePaid).ToString("N2"))</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="text-right padding-right font-weight-bold">Balance Due</td>
                                <td class="borderCell text-right padding-right">@Convert.ToDecimal(item.BalanceDue).ToString("N2")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="row ">
                <div class="column">
                    @if (@item.CompanyRegisteredNumber != null)
                    {
                        <h4>Company Reg no: @item.CompanyRegisteredNumber</h4>
                    }
                    @if (@item.CompanyRegisteredAddress != null)
                    {
                        <h4>Company Reg address : @item.CompanyRegisteredAddress</h4>
                    }
                </div>
            </div>
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>

</html>
