@model GiellyGreen.Models.CombinePdfViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        * {
            box-sizing: border-box;
        }
        .pageFinish {
            page-break-before: always;
        }

            .pageFinish:first-child {
                page-break-before: avoid;
            }

        .column {
            float: left;
            width: 50%;
            padding: 10px;
            height: 150px;
        }

        .columnHeader {
            float: left;
            width: 50%;
            padding: 10px;
            height: 70px;
        }


        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        th, td {
            padding: 5px;
        }

        .widthcol {
            width: 60%;
        }

        table {
            border: none
        }

        .borderCell {
            border: 1px solid gray;
        }

        .text-right {
            text-align: right;
        }
    </style>
</head>
<body>
    @foreach (var item in Model.InvoiceDetails)
    {
        if (item.Logo != null)
        {
            String path = HttpContext.Current.Server.MapPath("~/ImageStorage");
            item.Logo = Path.Combine(path, item.Logo);
        }
        <div class="container pageFinish">
            <div class="row" style="margin-bottom:3px;">
                <div class="columnHeader">
                    @if (item.Logo != null)
                    {
                        <img src="@item.Logo" width="200" height="100" alt=@item.Logo />
                    }
                </div>
                <div class="columnHeader" style="text-align:right">
                    <h1>Self Billed Invoice</h1>
                </div>
            </div>
            <br />
            <div class="row ">
                <div class="column" style="text-align:left">
                    <h4>@item.SupplierName</h4>
                    <h4>@item.BusinessAddress</h4>
                </div>
                <div class="column" style="text-align:right">
                    <h4> Invoice Date : @Convert.ToDateTime(@item.InvoiceDate).ToString("dd-MM-yyyy") </h4>
                    <h4>Invoice Referance : @item.InvoiceRef</h4>
                    <br />
                    @if (item.TAXReference != null)
                    {
                        <h4> TAX Referance : @item.TAXReference</h4>
                    }
                    @if (item.VATNumber != null)
                    {
                        <h4> TAX VATNumber : @item.VATNumber</h4>
                    }
                </div>
            </div>
            <br />
            <div class="row">
                <div class="column">
                    <h4>To : @Model.CompanyProfile.CompanyName</h4>
                    <h4>@Model.CompanyProfile.AddressLine</h4>
                    <h4>@Model.CompanyProfile.City - @Model.CompanyProfile.ZipCode</h4>
                    <h4>@Model.CompanyProfile.Country</h4>
                </div>
            </div>
            <br />
            <div class="row" style="margin-bottom:3px;">
                <div class="col-md-12">
                    <table class="table-bord" style="width:100%">
                        <thead>
                            <tr style="padding:3px;" class="borderCell">
                                <th class="borderCell" colspan="3" style="text-align:center">Description</th>
                                <th class="borderCell text-right" style="border-left:0px">Amount(GBP)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="borderCell">
                                <td colspan="2" class="widthcol borderCell">Hair Services</td>
                                <td class="borderCell"></td>
                                <td class="borderCell text-right">@Convert.ToDecimal(item.HairServices).ToString("N2")</td>
                            </tr>
                            <tr class="borderCell">
                                <td class="borderCell" colspan="2">Beauty Services</td>
                                <td class="borderCell"></td>
                                <td class="borderCell text-right">@Convert.ToDecimal(item.BeautyServices).ToString("N2")</td>
                            </tr>
                            @if (item.CustomHeader1 != null && item.CustomService1 != 0)
                            {
                                <tr class="borderCell">
                                    <td class="borderCell" colspan="2">@item.CustomHeader1</td>
                                    <td class="borderCell"></td>
                                    <td class="borderCell text-right">@Convert.ToDecimal(item.CustomService1).ToString("N2")</td>
                                </tr>
                            }
                            @if (item.CustomHeader2 != null && item.CustomService2 != 0)
                            {
                                <tr class="borderCell">
                                    <td class="borderCell" colspan="2">@item.CustomHeader2</td>
                                    <td class="borderCell"></td>
                                    <td class="borderCell text-right">@Convert.ToDecimal(item.CustomService2).ToString("N2")</td>
                                </tr>
                            }
                            @if (item.CustomHeader3 != null && item.CustomService3 != 0)
                            {
                                <tr class="borderCell">
                                    <td class="borderCell" colspan="2">@item.CustomHeader3</td>
                                    <td class="borderCell"></td>
                                    <td class="borderCell text-right">@Convert.ToDecimal(item.CustomService3).ToString("N2")</td>
                                </tr>
                            }
                            @if (item.CustomHeader4 != null && item.CustomService4 != 0)
                            {
                                <tr class="borderCell">
                                    <td class="borderCell" colspan="2">@item.CustomHeader4</td>
                                    <td class="borderCell"></td>
                                    <td class="borderCell text-right">@Convert.ToDecimal(item.CustomService4).ToString("N2")</td>
                                </tr>
                            }
                            @if (item.CustomHeader5 != null && item.CustomService5 != 0)
                            {
                                <tr class="borderCell">
                                    <td class="borderCell" colspan="2">@item.CustomHeader5</td>
                                    <td class="borderCell"></td>
                                    <td class="borderCell text-right">@Convert.ToDecimal(item.CustomService5).ToString("N2")</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="2" style="border:0px"></td>
                                <td class="text-right">Subtotal(Net)</td>
                                <td class="borderCell text-right">@Convert.ToDecimal(item.Net).ToString("N2")</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="text-right">VAT</td>
                                <td class="borderCell text-right">@Convert.ToDecimal(item.VAT).ToString("N2")</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="text-right">Advance Paid</td>
                                <td class="borderCell text-right">@Convert.ToDecimal(item.AdvancePaid).ToString("N2")</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="text-right">Balance Due</td>
                                <td class="borderCell text-right">@Convert.ToDecimal(item.BalanceDue).ToString("N2")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>

</html>
