@model GiellyGreen.Models.PdfViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice</title>
    <link href="http://fonts.cdnfonts.com/css/dax" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/PdfStyle.css" />
</head>
<body>
    <div class="container">
        <table width="100%">
            <tr>
                <td>
                    @if (@Model.Invoice.Logo != null && @Model.Invoice.Logo != "")
                    {
                        <img src="@Model.Invoice.Logo" width="200" height="100" />
                    }
                    else
                    {
                        <h3 class="padding-top">@Model.Invoice.SupplierName</h3>

                    }
                </td>
                <td class="font-size text-right">Self-Billed Invoice</td>
            </tr>
            <tr>
                <td class=" text-left" style="vertical-align:top">
                    @if (@Model.Invoice.Logo != null)
                    {
                        <h4>@Model.Invoice.SupplierName</h4>
                        <h4>@Model.Invoice.BusinessAddress</h4>
                    }
                    else
                    {
                        <div class="customwordbreak">@Model.Invoice.BusinessAddress</div>
                    }
                </td>
                <td class=" text-right ">
                    <h4 class="font-weight-normal"> Invoice Date :  @Convert.ToDateTime(Model.Invoice.InvoiceDate).ToString("dd-MM-yyyy")</h4>
                    <h4 class="font-weight-normal">Invoice Referance :@Model.Invoice.SupplierReferenceNumber-@Model.Invoice.InvoiceRef</h4>
                    <br />
                    @if (Model.Invoice.TAXReference != null)
                    {
                        <h4 class="font-weight-normal"> TAX Referance : @Model.Invoice.TAXReference</h4>
                    }
                    @if (Model.Invoice.VATNumber != null)
                    {
                        <h4 class="font-weight-normal"> TAX VATNumber : @Model.Invoice.VATNumber</h4>
                    }
                </td>
            </tr>
            <tr>
                <td class="">
                    <h4>To : @Model.CompanyProfile.CompanyName</h4>
                    <h4 class="font-weight-normal">@Model.CompanyProfile.AddressLine</h4>
                    <h4 class="font-weight-normal">@Model.CompanyProfile.City - @Model.CompanyProfile.ZipCode</h4>
                    <h4 class="font-weight-normal">@Model.CompanyProfile.Country</h4>
                </td>
            </tr>
        </table>

        <br />
        <div class="row margin-bottom">
            <div class="col-md-12 table-height">
                <table class="table-bord" style="width:100%;border-collapse:collapse">
                    <thead>
                        <tr class="borderCell tr-padding">
                            <th class="borderCell text-center " colspan="3">Description</th>
                            <th class="borderCell text-right cell-border-left padding-right">Amount(GBP)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="borderCell">
                            <td colspan="2" class="widthcol borderCell padding-left">Hair Services</td>
                            <td class="borderCell"></td>
                            <td class="borderCell text-right padding-right">@Convert.ToDecimal(Model.Invoice.HairServices).ToString("N2")</td>
                        </tr>
                        <tr class="borderCell">
                            <td class="borderCell padding-left" colspan="2">Beauty Services</td>
                            <td class="borderCell"></td>
                            <td class="borderCell text-right padding-right">@Convert.ToDecimal(Model.Invoice.BeautyServices).ToString("N2")</td>
                        </tr>
                        @if (Model.Invoice.CustomService1 > 0)
                        {


                            <tr class="borderCell">
                                <td class="borderCell padding-left" colspan="2">
                                    @if (@Model.Invoice.CustomHeader1 != null)
                                    {
                                        @Model.Invoice.CustomHeader1
                                    }
                                    else
                                    {
                                         <span>Custom 1 </span> 
                                    }

                                </td>
                                <td class="borderCell"></td>
                                <td class="borderCell text-right padding-right">@Convert.ToDecimal(Model.Invoice.CustomService1).ToString("N2")</td>
                            </tr>
                        }
                        @if (Model.Invoice.CustomService2 > 0)
                        {
                            <tr class="borderCell">
                                <td class="borderCell padding-left" colspan="2">
                                    @if (@Model.Invoice.CustomHeader2 != null)
                                    {
                                        @Model.Invoice.CustomHeader2
                                    }
                                    else
                                    {
                                        <span>Custom 2 </span>
                                    }
                                </td>
                                <td class="borderCell"></td>
                                <td class="borderCell text-right padding-right">@Convert.ToDecimal(Model.Invoice.CustomService2).ToString("N2")</td>
                            </tr>
                        }
                        @if (Model.Invoice.CustomService3 > 0)
                        {
                            <tr class="borderCell">
                                <td class="borderCell padding-left" colspan="2">
                                    @if (@Model.Invoice.CustomHeader3 != null)
                                    {
                                        @Model.Invoice.CustomHeader3
                                    }
                                    else
                                    {
                                        <span>Custom 3 </span>
                                    }
                                </td>
                                <td class="borderCell"></td>
                                <td class="borderCell text-right padding-right">@Convert.ToDecimal(Model.Invoice.CustomService3).ToString("N2")</td>
                            </tr>
                        }
                        @if (Model.Invoice.CustomService4 > 0)
                        {
                            <tr class="borderCell">
                                <td class="borderCell padding-left" colspan="2">
                                    @if (@Model.Invoice.CustomHeader4 != null)
                                    {
                                        @Model.Invoice.CustomHeader4
                                    }
                                    else
                                    {
                                        <span>Custom 4 </span>
                                    }
                                </td>
                                <td class="borderCell"></td>
                                <td class="borderCell text-right padding-right">@Convert.ToDecimal(Model.Invoice.CustomService4).ToString("N2")</td>
                            </tr>
                        }
                        @if (Model.Invoice.CustomService5 > 0)
                        {
                            <tr class="borderCell">
                                <td class="borderCell padding-left" colspan="2">
                                    @if (@Model.Invoice.CustomHeader5 != null)
                                    {
                                        @Model.Invoice.CustomHeader5
                                    }
                                    else
                                    {
                                        <span>Custom 5 </span>
                                    }
                                </td>
                                <td class="borderCell"></td>
                                <td class="borderCell text-right padding-right">@Convert.ToDecimal(Model.Invoice.CustomService5).ToString("N2")</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="2" style="border:0px"></td>
                            <td class="text-right padding-right font-weight-bold">Subtotal(Net)</td>
                            <td class="borderCell text-right padding-right">@Convert.ToDecimal(Model.Invoice.Net).ToString("N2")</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="text-right padding-right font-weight-bold">VAT</td>
                            <td class="borderCell text-right padding-right">@Convert.ToDecimal(Model.Invoice.VAT).ToString("N2")</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="text-right padding-right font-weight-bold">Advance Paid</td>
                            <td class="borderCell text-right padding-right">
                                <span> (@Convert.ToDecimal(Model.Invoice.AdvancePaid).ToString("N2"))</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="text-right padding-right font-weight-bold">Balance Due</td>
                            <td class="borderCell text-right padding-right">@Convert.ToDecimal(Model.Invoice.BalanceDue).ToString("N2")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row ">
            <div class="column">
                @if (@Model.Invoice.CompanyRegisteredNumber != null)
                {
                    <h4>Company Reg no: @Model.Invoice.CompanyRegisteredNumber</h4>
                }
                @if (@Model.Invoice.CompanyRegisteredAddress != null)
                {
                    <h4>Company Reg address : @Model.Invoice.CompanyRegisteredAddress</h4>
                }

            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>

</html>
